<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.combined">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:name="app.AppController"
        android:usesCleartextTraffic="true"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="In The Pink Puff"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Combined">
        <activity android:name=".settingsActivity"></activity>
        <activity android:name=".songActivity"></activity>
        <activity android:name=".userSettings"></activity>
        <activity android:name=".songUpload"></activity>
        <activity android:name=".displaySettings"></activity>
        <activity android:name=".uploadActivity"></activity>
        <activity android:name=".CommentActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".SongDiscoveryActivity"></activity>
        <activity android:name=".ProfileActivity"></activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>